body {
  font-family: $font;
  font-size: 18px;
  color: $blue;
  line-height: 1.6em;
}

section,
.section {
  padding: 30px 15px;

  &.full {
    padding: 30px 0;
  }

  @media ($large) {
    padding: 60px 100px;

    &.full {
      padding: 60px 0;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
