.devices-block {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    text-align: center;
    max-width: 100%;

    @media ($large) {
      max-width: 50%;
    }
  }

  &__image {
    img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }
}
