.header {
  background: url("../assets/images/bg-header-mobile.png") top center no-repeat;
  padding: 60px 15px 60px;

  @media ($large) {
    background: url("../assets/images/bg-header-desktop.png") top center
      no-repeat;
    padding: 120px 100px 80px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    text-align: center;

    @media ($large) {
      max-width: 50%;
    }
  }
}
