.icon-block {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    @media ($large) {
      gap: 30px;
      flex-direction: row;
    }
  }

  &__top-content {
    text-align: center;

    @media ($large) {
      max-width: 50%;
    }
  }

  &__column {
    text-align: center;

    @media ($large) {
      max-width: 33%;
    }
  }

  .icon {
    height: 50px;
    width: 100%;
    margin: 16px 0 32px;

    &__list {
      background: url("../assets/icons/icon-blacklist.svg") center no-repeat;
    }

    &__snippets {
      background: url("../assets/icons/icon-text.svg") center no-repeat;
    }

    &__preview {
      background: url("../assets/icons/icon-preview.svg") center no-repeat;
    }
  }
}
