.image-list-block {
  .image {
    max-width: 100%;
    object-fit: cover;
    object-position: right;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media ($large) {
      flex-direction: row;
      gap: 110px;
    }
  }

  &__image-wrapper {
    @media ($large) {
      max-width: 50%;
    }
  }

  &__content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media ($large) {
      max-width: 30%;
      padding: 0;
    }

    div {
      margin: 20px 0;
    }
  }
}
